<h1>Pets!</h1>

<%= link_to "New", new_pet_path %>

</br></br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Image</th>
      <th>View Photos</th>
      <th>Download File</th>
      <th>Delete Photos</th>
    </tr>
  </thead>
  <tbody>
    <%- @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td>
          <ul>
            <%- pet.photos.each do |photo| %>
              <li><%= image_tag photo %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <%- pet.photos.each do |photo| %>
              <li><%= link_to "Photo", url_for(photo) %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <%- pet.photos.each do |photo| %>
              <li><%= link_to 'Download', rails_blob_path(photo, disposition: "attachment") %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= button_to "Delete", {action: :delete_photos, pet_id: pet.id}, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
